.brands-page {
   min-width: 320px;
   max-width: 1120px;
   background: #f2f2f2;
   margin: 0 auto;
}

.brands-header {
   display: flex;
   align-items: center;
   background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
   height: 80px;
   padding: 0 16px;
   &__title {
      font-family: TT Lakes;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      color: #7e7e82;
   }
}

.brand-menu {
   
   position: relative;

   // ---------right blur------------

   &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 100%;
      background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
      top: 0;
      right: 0;
      z-index: 2;
   }

   // ---------------------------------------
   &__wrapper {
      padding-left: 16px;
      padding-top: 16px;
      margin-bottom: 40px;
   }   
}

.brand-item {
   border: 1px solid #eaeaea;
   background: #ffffff;
   border-radius: 6px;
   width: 208px;
   height: 72px;
   padding: 0 16px;

   &__link {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__img-arrow {
      width: 40px;
      height: 40px;
      margin: 16px 0;
   }
}

.brands-btn {
   display: none;
}

.brand-item,
.brand-menu__list-item,
.swiper-slide {
   box-sizing: content-box;
}

.swiper-pagination-bullet {
   width: 12px;
   height: 12px;
   background: #a8a8a8;
}

.swiper-pagination-bullet-active {
   background: #b5b6bc;
}



//--------------------media----------------------------------

@media (min-width: 768px) {
   .brands-header {
      background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
      height: 56px;
   }

   .brand-menu {
      &::before {
         display: none;
      }

      &__wrapper {
         padding-left: 24px;
         padding-top: 24px;
         margin-bottom: 24px;
         display: flex;
         flex-wrap: wrap;  
         max-height: 170px;
         overflow: hidden; 
      }

      &__wrapper--open { 
         transition-property: all;
         transition-duration: 1.5s;
         max-height: 100vh;
      }

      &__wrapper--close {
         transition-property: all;
         transition-duration: 0.7s;
         transition-delay: -0.3s;
      }



      &__list-item {
         margin-right: 24px;
         margin-bottom: 16px;
      }
   }

   .brand-item {
      width: 192px;
      height: 70px;
   }

   .brands-btn {
      display: inline-block;
      font-family: TT Lakes;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1b1c21;
      margin-bottom: 34px;
      margin-left: 57px;
      background: inherit;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         top: 7px;
         left: -20px;
         width: 8px;
         height: 11px;
         
      }

      &__open::before {
         background-image: url("../img/brands/arrow-down.svg");
      }

      &__close::before {
         background-image: url("../img/brands/arrow-up.svg");
      }
   }

}



@media (min-width: 1120px) {

   .brands-header {
      background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
          
   }
   .brand-menu {
      &__list-item {
         margin-right: 32px;
      }

      &__wrapper {
         padding-left: 32px;
      }
   }
   .brand-item {
     width: 208px;
     cursor: pointer;
   }

   @media (any-hover: hover) {
      .brand-item:hover {
         transition-duration: 0.7s;
         transform: scale(1.05);
         box-shadow: 1px 1px 4px #474747;
      }
   }
}

